<header
  class="fixed top-0 left-0 righ-0 z-1 w-full flex justify-between px-12 items-center text-lg font-semibold bg-purple-950 h-16 text-white"
>
  <nav class="">
    <ul class="flex gap-4 md:gap-8">
      <li>
        <a href="/new-blog" class="cursor-pointer">
          <button
            class="bg-white p-1 text-lg cursor-pointer text-purple-900 rounded-full curson-pointer"
          >
            <!-- plus icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              stroke-width="2"
              class="w-6 h-6"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </a>
      </li>
      <li>
        <button class="cursor-pointer" (click)="goToFeed()">Feed</button>
      </li>
      <li>
        <button class="cursor-pointer" (click)="goToBookmarks()">Bookmarks</button>
      </li>
      <li>
        <button class="cursor-pointer" (click)="goToProfile()">My Blogs</button>
      </li>
    </ul>
  </nav>
  <button class="cursor-pointer">Logout</button>
</header>
